<div class="container-flued">
  <nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-info fw-bold" routerLink="/students" href="#">Student Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-sm btn-outline-secondry text-info" data-bs-toggle="modal" data-bs-target="#addStudent" type="submit">Add
          Student Records</button>
      </div>
      <div class="container-fluid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="navbar-item">
            <a class="nav-link active text-info" routerLink="/students" aria-current="page" href="#">Students List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Add student Modal -->
  <div class="modal fade " id="addStudent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">

          <div class="container">
            <h3 style="text-align: center;">Student Details</h3>
            <div class="mb-3">
              <label for="inputFirst" class="form-label">FirstName</label>
              <input type="text" [(ngModel)]="students.firstName" class="form-control" id="inputFirst">
            </div>
            <div class="mb-3">
              <label for="inputLast" class="form-label">LastName</label>
              <input type="text" [(ngModel)]="students.lastName" class="form-control" id="inputLast">
            </div>
            <div class="mb-3">
              <label for="inputClass" class="form-label">ClassName</label>
              <input type="text" [(ngModel)]="students.className" class="form-control" id="inputClass">
            </div>
            <div class="mb-3">
              <label for="inputSubject" class="form-label">Subject</label>
              <input type="text" [(ngModel)]="students.subject" class="form-control" id="inputSubject">
            </div>
            <div class="mb-3">
              <label for="inputDob" class="form-label">DateOfBirth</label>
              <input type="text" [(ngModel)]="students.dateOfBirth" class="form-control" id="inputDob">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>